:root {
  --bs-success: #297a2d;
  --bs-success-rgb: 46,125,50;
}

body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient( to bottom, #f0fdf4 0%, #fac05d 50%, #d49d3e 100%);
  min-height: 100vh;
  margin: 0;
}


.logo { font-size: 28px; font-weight: 800; color: var(--bs-success); }



.card {
  transition: transform .2s;
}
.card:hover {
  transform: translateY(-8px);
}